:root {
  --home: #001427;
  --about: #0d3051;
  --skills: #29547b;
  --contact: #537ea6;
  --nav: #ededed;
  --buttons: #9fa653;
  --primary-text-color: #f4f1de;
  --secondary-text-color: #b8d0f0;
  --text-color: #333;
  --border-radius-base: 8px;
}
* {
  font-family: "Rubik", serif;
}
nav {
  background-color: var(--nav);
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 14px 63px;
  /* https://www.cssmatic.com/box-shadow */
  box-shadow: 0px 4px 4px 0px #00000025;
}
#navLinks {
  display: flex;

  li {
    padding-left: 73px;
    color: var(--text-color);
  }
}
section {
  height: 100vh;
}

/* home */
#homeSection {
  background-color: var(--home);
  padding-top: 65px 0px;
  display: flex;
  justify-content: space-between;
}
.btnDownload {
  background-color: var(--buttons);
  display: flex;
  align-items: center;
  /* ocupa o espaço exato da div */
  width: fit-content;
  padding: 8px 14px;
  border-radius: 8px;
  color: var(--primary-text-color);
  cursor: pointer;
}

#imgHome {
  width: 90vh;
  height: 100vh;
  background-image: url("../assets/images/homeImg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#homeInfo {
  display: flex;
  flex-direction: column;
  padding: 200px;
  justify-content: center;

  h1 {
    color: var(--primary-text-color);
    font-size: 3.5rem;
    text-transform: uppercase;
  }
  h2 {
    color: var(--secondary-text-color);
    font-size: 2.4rem;
    font-weight: 400;
    padding: 24px 0px 64px 0px;
  }
}

/* sobre mim */
#aboutSection {
  background-color: var(--about);
  display: flex;

  #aboutInfo {
    color: var(--primary-text-color);
    width: 60vw;
    padding-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;

    #aboutInfoFlex {
      width: 80%;
    }
  }

  #imgAbout {
    /* background-color: red; */
    background-image: url("../assets/images/aboutimg.jpeg");
    width: 40vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  p {
    color: var(--primary-text-color);
    padding: 45px 0 56px 0;
  }

  h1 {
    padding-bottom: 50px;
    font-size: 3.125rem;
    text-transform: uppercase;
  }

  .btnLinkedin {
    padding: 14px;
    background-color: var(--buttons);
  }
}

/*skills  */
#skillsSection {
  background-image: url("../assets/images/skillsimg.jpg");
  background-size: cover;

  .overlay {
    height: 100vh;
    width: 100%;
    background-color: #ffffff70;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: var(--text-color);
    padding-bottom: 68px;
    text-transform: uppercase;
    font-size: 3.125rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    gap: 27px;
    padding-bottom: 164px;
    padding-top: 50px;
  }

  li {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 10px 17px;
    color: var(--primary-text-color);
    border-radius: var(--border-radius-base);
    font-size: 1.93rem;
  }

  .btnResume{
    background-color: var(--buttons);
  }
}

#contactSection {
  background-color: var(--contact);
  
}

/* buttons */
.defaultButton {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 8px 14px;
  border-radius: var(--border-radius-base);
  cursor: pointer;
  box-shadow: 0px 13px 35px 1px rgba(0,0,0,0.75);
}

/* links */
a {
  padding-left: 11px;
  color: white;
  text-decoration: none;
}
